@import '@/app/assets/styles/variables.scss';

.pinnedMsgs {
  width: 100%;
  padding: 0px 10px;
  background-color: (--body-color);
  color: var(--default);
  vertical-align: middle;
  .pinnedMsgs__msg {
    padding: 3px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    p[data-penis='pin'] {
      color: $red-color;
    }
  }
  button {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background-color: var(--gray-color);
    }
  }
}
