.userInfo_meta {
  width: 92% !important;
  height: max-content;
  padding: 5px 20px;
  background-color: var(--post-color);
  border-radius: 12px;
  font-family: 'Inter', serif;
  font-weight: 400;

  * {
    margin: 5px;
    color: var(--default);
  }

  div {
    grid-template-columns: 100px 1fr;
    gap: 15px;
  }

  p {
    line-height: 1.2;
  }

  .avatar {
    width: max-content;
  }

  .userInfo_meta_someInfo {
    * {
      margin-top: 7px;
    }

    .desc {
      p {
        word-break: break-all;
      }
    }

    .userInfo_meta_btns {
      margin-top: 14px;

      button {
        * {
          margin: 0 2px;
        }
      }

      * {
        margin: 0;
        max-width: max-content;
      }
    }
  }
}

@media (max-width: 1084px) {
  .userInfo_meta {
    width: 90%;
    margin: 5px auto;

    div {
      grid-template-columns: 100px auto;
      grid-template-rows: 1fr;
      gap: 15px;
      word-break: break-all;
    }
  }
}
