.list {
  position: absolute;
  width: max-content;
  min-width: 140px;
  top: calc(100% - 7px);
  right: 0;
  padding: 0;
  background-color: var(--body-color);
  border-radius: 6px;
  border: 1px solid var(--gray-color);
  z-index: 100;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.active {
  top: 100%;
  opacity: 1;
  pointer-events: all;
}
