.item {
  transition: all 0.2s;
  button {
    width: 100%;
    padding: 0.3vh 0.8vh;
    text-align: left;
    border-radius: 1vh;
    font-size: 2vh;
    svg {
      width: 2.5vh;
      height: 2.5vh;
    }
  }
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
}
