.postListPage {
  position: relative;
  width: 100%;
  padding: 0px 10px;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  gap: 1vw;

  .posts {
    width: 100%;
    gap: 1vw;
  }
}
