.infoBlockButton {
  position: relative;

  * {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .infoBlockButton {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: linear-gradient(45deg, #ff5e00, #e63946);
    margin-top: 70px !important;

    * {
      font-size: 24px;
    }
  }
}
