.chatsList {
  position: relative;
  min-width: 220px;
  width: max-content;
  height: calc(100vh - 90px);
  background-color: var(--post-color);
  border-radius: 16px;
  margin-right: 5px;
  color: var(--default);
  overflow: hidden;

  .chatsList__up {
    width: 100%;
    padding: 15px 5px;
    text-align: left;
    border-bottom: 1px solid var(--gray-color);

    h2 {
      margin: 4px;
      font-size: 19px;
    }
  }

  div[data-id='chats'] {
    // STYLE
    height: inherit;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--gray-color);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--post-color);
      border-radius: 16px;
      padding: 5px;
    }
  }
}

@media (max-width: 768px) {
  .chatsList {
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: transparent !important;
    margin-right: none;
    border-right: none;

    .chatsList__up {
      width: 100%;
      text-align: left;

      h2 {
        margin: 4px;
        font-size: 22px;
      }
    }
  }
}
