.chatsList {
  min-width: 200px;
  width: max-content;
  height: inherit;
  padding: 5px;
  background-color: rgb(17, 17, 17);
  border-radius: 16px;
}

@media (max-width: 768px) {
  .chatsList {
    width: 100% !important;
    background-color: transparent !important;
  }
}
