.contextMenu {
  position: absolute;
  background-color: rgba(30, 30, 30);
  border-radius: 10px;
  border: 2px solid var(--gray-color);
  z-index: 9999999999999999;
  button {
    padding: 10px 15px;
    border-radius: inherit;
    text-align: left;
    &:hover {
      background-color: rgba(#fff, 0.1);
    }
  }
}
