@import '@/app/assets/styles/variables.scss';

@mixin defaultStyle {
  max-width: 290px;
  margin: 10px;
  p {
    text-wrap: wrap;
    word-wrap: break-word;
  }
  i {
    color: #b1b1b1;
    font-weight: 600;
  }
}

.myMessage {
  align-self: flex-end;
  padding: 10px;
  background-color: $red-color;
  border-radius: 11px 11px 0 11px;
  @include defaultStyle;
}
.notMyMessage {
  align-self: flex-start;
  padding: 10px;
  background-color: $post-color;
  border-radius: 11px 11px 11px 0;
  @include defaultStyle;
}
