.input-ui {
  width: 100%;
  margin: 5px 4px 5px 0;
  padding: 7px 14px;
  font-weight: 400;
  color: var(--default);
  border-radius: 12px;
  outline: none;
  background-color: var(--body-color);
  caret-color: var(--red-color);
  transition: all 0.3s;
  &:focus {
    outline: 1px solid var(--red-color);
  }
}
