.postsHeader {
  width: inherit;
  padding: 10px;
  padding-left: 20px;
  border-radius: 12px;
  background-color: var(--post-color);

  h1 {
    font-weight: 700;
    text-wrap: nowrap;
  }

  span {
    color: var(--red-color);
  }

  button {
    margin: 0px 3px;
    padding: 6px;
    background-color: var(--gray-color);
    border-radius: 6px;
  }
}

@media (max-width: 768px) {
  .postsHeader {
    h1 {
      font-size: 13px;
    }
  }
}
