.image_list {
  padding: 15px;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .image_list {
    grid-template-columns: 1fr;
    * {
      height: auto !important;
    }
  }
}
