@import '@/app/assets/styles/variables.scss';

.prev {
  i {
    margin: 2px;
    color: $red-color;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px;
  }

  &::selection {
    background-color: transparent;
  }
}

.input {
  position: relative;
  width: inherit;

  .inputUi {
    width: 100%;
    padding: 10px 15px;
    padding-right: 60px;
    color: $default;
    border: 2px solid $post-color;
    border-radius: 10px;
  }

  .inputEnd {
    position: absolute;
    right: 0;
    margin: 10px;
    z-index: 99;
    * {
      margin: 1px;
    }
  }
}
