.editAvatar {
  position: relative;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid #000;
  button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 6px;
    background-color: var(--body-color);
    border-radius: 100%;
  }
}
