.commentsList {
  margin-bottom: 20px;

  .input-block {
    width: 100%;
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--default);
    background-color: var(--post-color);

    input {
      margin-left: 5px;
    }

    h3 {
      margin: 3px;
    }

    b {
      color: var(--g-color);
    }
  }
}
