@import '@/app/assets/styles/variables.scss';

.mainSettings {
  width: 100%;
  border: 2px solid $gray-color;
  border-radius: 13px;
  color: $default;
  .mainSettings__buttons {
    width: 100%;
    border-bottom: 2px solid $gray-color;
    button {
      margin: 3px;
      padding: 5px 10px;
      border-radius: 13px;
      transition: all 0.4s;
      &:hover {
        background-color: rgb(99, 99, 99);
      }
    }
  }
  .mainSettings__info {
    height: 300px;
    width: 100%;
  }
  .active {
    background-color: rgb(99, 99, 99);
  }
}
