.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.tac {
    text-align: center;
}

.flex {
    display: flex;
}

.fdc {
    flex-direction: column;
}

.grid {
    display: grid;
}

.cb {
    color: #000;
}

.cw {
    color: #fff;
}

.x-auto {
    margin: 0 auto;
}