.flex {
  display: flex;
}

.grid {
  display: grid;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.tac {
  text-align: center;
}

.fdc {
  flex-direction: column;
}

.cb {
  color: #000 !important;
}

.cw {
  color: #fff;
}

.cg {
  color: #d1d1d1;
}

.x-auto {
  margin: 0 auto;
}

.z-3 {
  z-index: 3;
}

.fz10 {
  font-size: 10px;
}

.fz17 {
  font-size: 17px;
}

.cprogress {
  cursor: progress;
}
