//ADD IMPORT TO A SCSS FILE:
// @import '@/app/assets/styles/variables.scss';

//COLORS
$red-color: #ef0000;
html {
  --red-color: #ef0000;
}

body[data-theme='dark'] {
  --body-color: #0e0e0e;
  --post-color: rgba(30, 30, 30);
  --gray-color: #353535;
  --g-color: #bdbdbd;
  --default: #fff;
}

body[data-theme='light'] {
  --body-color: #c0c0c0;
  --post-color: rgb(207, 207, 207);
  --gray-color: #bbbbbb;
  --g-color: rgb(102, 102, 102);
  --default: #000;
}
