//ADD IMPORT TO A SCSS FILE:
// @import '@/app/assets/styles/variables.scss';

//COLORS
$body-color: #0e0e0e;
$post-color: rgba(30, 30, 30, 0.95);
$red-color: #e63946;
$gray-color: #353535d8;
$default: #fff;
