.content {
  padding: 10px;
  color: var(--default);

  p {
    margin: 20px 0 !important;
  }

  .footer {
    width: 100%;
    padding: 7px 15px;
    border-top: 2px solid var(--body-color);

    button {
      margin: 0 5px;
      padding: 6px 12px !important;

      * {
        margin: 0 !important;
      }
    }
  }
}
