@import '@/app/assets/styles/variables.scss';

.userInfo {
    margin: $margin-content;
    width: 80vw;
    grid-template-columns: 1fr 2fr;
    font-weight: 600;
    gap: 15px;
    .userInfo_meta {
        height: max-content;
        background-color: rgba(0, 0, 0, .2);
        border-radius: 12px;
        div {
            grid-template-columns: 100px 1fr;
            gap: 15px;
        }
        grid-template-rows: repeat(2, 1fr);
        p {
            line-height: 1.2;
        }
        * {
            margin: 5px;
        }
    }
    .userInfo_posts {
        padding: 15px;
        background-color: rgba(0, 0, 0, .3);
        border-radius: 10px;
    }
}