@import '@/app/assets/styles/variables.scss';


.userBlock {
    margin: $margin-content;
.userInfo {
    width: 80vw;
    grid-template-columns: 1fr 3fr;
    font-weight: 600;
    gap: 15px;
    .userInfo_meta {
        height: max-content;
        background-color: rgba(0, 0, 0, .2);
        border-radius: 12px;
        div {
            grid-template-columns: 100px 1fr;
            gap: 15px;
        }
        p {
            line-height: 1.2;
        }
        * {
            margin: 5px;
        }
    }
    .userInfo_posts {
        position: relative;
        border-radius: 10px;
    }
}
}