@import '@/app/assets/styles/variables.scss';

.signForm {
    position: relative;
    width: 80%;
    margin: $margin-content;
    padding: 15px;
    color: #fff;
    background-color: $gray-color;
    border-radius: 16px;
    * {
        margin: 6px;
    }
}