@import '@/app/assets/styles/variables.scss';

.add_post {
  width: 100%;
  padding: 0 15px;
  color: var(--default);
  .add_post_block {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    background-color: var(--post-color);
    border-radius: 16px;
    .add_post_block_input {
      width: 75%;
      * {
        margin: 5px;
      }
    }
    .add_post_block__buttons {
      margin: 15px;
    }
  }
}
