.modal {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  label {
    margin: 5px;
    padding: 3px;
    background-color: var(--gray-color);
    border-radius: 10px;
    cursor: pointer;
  }
}
