.authEntity {
  position: relative;
  width: 60vw;
  min-height: 40vh;
  min-width: 300px;
  min-height: 300px;
  color: var(--default);
  font-family: 'Russo One', sans-serif;
  border-radius: 12px;
  background-color: var(--post-color);

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin: 0 5px;
    font-family: 'Inter', serif;
    font-size: 13px;
    font-weight: 700;
    color: var(--red-color);
  }

  .authEntity__content {
    form {
      width: 90%;

      div {
        width: 100%;
      }
    }

    flex: 1;
    padding: 15px 25px;
  }
}

@media (max-width: 768px) {
  .authEntity {
    width: 98vw;
    background-color: transparent;

    * {
      font-size: 13px !important;
      font-weight: 300;
    }

    h2 {
      font-size: 15px !important;
    }

    input {
      background-color: var(--gray-color);
    }
  }
}
