.authEntity {
  position: relative;
  width: 60vw;
  min-height: 40vh;
  min-width: 300px;
  min-height: 300px;
  color: var(--default);
  font-family: 'Russo One', sans-serif;
  border-radius: 12px;
  background-color: var(--post-color);
  h1 {
    margin-bottom: 10px;
  }
  .authEntity__content {
    form {
      width: 90%;
    }
    flex: 1;
    padding: 15px 25px;
  }
}

@media (max-width: 768px) {
  .authEntity {
    * {
      font-size: 11px !important;
      font-weight: 200;
    }
    .imgBlock {
      div {
        font-size: 10px;
      }
      button {
        padding: 4px;
      }
    }
  }
}
