.selectedDropdownItem {
  position: relative;
  width: 20vw;
  max-width: 200px;
  margin: 3px;
  padding: 3px 5px;
  background-color: var(--red-color);
  border-radius: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  button {
    height: 20px;
    width: 20px;
    border-radius: 100%;
  }
}
