@mixin main {
  height: 15px;
  margin-top: 2px !important;
  background-color: var(--gray-color);
  border-radius: 10px;
}

.line {
  @include main();
  width: 100%;
}

.lastLine {
  @include main();
  min-width: 50px;
  width: 80% !important;
}
