.imageWrapper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--gray-color);
  transition: all 0.3s;

  .image {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    object-fit: cover;
  }
}

.oneElement {
  .imageWrapper {
    width: 100%;
  }
}

.twoElement {
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;

  .imageWrapper {
    .image {
      object-fit: cover;
    }
  }
}

.threeElement {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;

  .imageWrapper:nth-child(1) {
    grid-row: 1/3;
    height: auto;
  }

  .imageWrapper {
    .image {
      object-fit: cover;
    }
  }
}

.more {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: var(--gray-color);
}

.wrapper {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: var(--gray-color);
}
