@import '@/app/assets/styles/variables.scss';

.chatWindow_user {
  border-bottom: 1px solid var(--gray-color);
  * {
    margin: 0 5px;
  }
  .chatWindow_user__info {
    margin: 5px 0;
    padding: 2px;
    font-size: 15px;
    color: var(--default);
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      background-color: var(--gray-color);
    }
  }
}
