.editAvatar {
  position: relative;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid #000;

  .editAvatarButton {
    position: absolute;
    bottom: 10px;
    gap: 3px;

    button {
      padding: 6px;
      background-color: var(--body-color);
      border-radius: 100%;
    }
  }
}
