.chatElement {
  position: relative;
  width: 100%;
  height: max-content;
  padding: 3px;
  cursor: pointer;
  color: var(--default);
  border-bottom: 2px solid var(--body-color);

  * {
    margin: 3px;
  }

  ::selection {
    background-color: transparent;
  }

  h4 {
    font-size: 1.2rem;
  }

  .lastMsg {
    width: 90px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--g-color);
    font-size: 1rem;
  }
}

.active {
  background: linear-gradient(to bottom right, #770f0f, #6e0a0a);
}

@media (max-width: 768px) {
  .chatElement {
    width: 100% !important;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-color);

    .lastMsg {
      width: 35vw;
    }
  }
}
