@import '@/app/assets/styles/variables.scss';

.chatElement {
  width: 100%;
  height: max-content;
  cursor: pointer;
  color: var(--default);
  border-bottom: 1px solid var(--gray-color);
  * {
    margin: 3px;
  }
  ::selection {
    background-color: transparent;
  }
  h4 {
    font-size: 1.2rem;
  }
  p {
    color: #a5a5a5;
    font-size: 1rem;
  }
}
.active {
  background-color: rgba($red-color, 0.3);
}

@media (max-width: 768px) {
  .chatElement {
    width: 100% !important;
    justify-content: space-around;
  }
}
