.sider {
  position: fixed;
  right: 1.5vw;
  min-width: 240px;
  max-width: 500px;
  height: max-content;
  padding: 7px;
  background-color: var(--post-color);
  border-radius: 10px;

  .userBlock {
    position: relative;
    padding: 0.5vw;
    gap: 2vw;
    border-radius: 5px;
    background: linear-gradient(90deg, #555555d8, #6f5a5a, #555555d8);
    color: var(--default);
    font-family: 'Montserrat', serif;
    font-size: clamp(14px, 0.9vw, 20px);
  }
}

@media (max-width: 1000px) {
  .sider {
    visibility: hidden;
    pointer-events: none;
  }
}
