@import '@/app/assets/styles/variables.scss';

.postBtn {
  max-height: 35px;
  font-weight: 600;
  background-color: var(--gray-color);
  color: var(--default) !important;
  border-radius: 10px;
  transition: all 0.4s;
  * {
    margin: 3px;
  }
  &.loading {
    transform: scale(0.95);
    background-color: gray;
  }
}

@media (max-width: 400px) {
  .postBtn {
    max-height: 30px;
    max-width: min-content;
    padding: 10px;
    text-wrap: nowrap;
    * {
      font-size: 15px;
    }
  }
}
