.postsList {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  padding-bottom: 100px;
  border-radius: 16px;
  font-family: 'Inter', serif;

  h1 {
    font-size: 17px;
    color: var(--default);
  }
}
