.chatWindow {
  width: 100%;
  height: 500px;
  padding: 15px 10px;
  margin: 0 !important;
  background-color: rgb(17, 17, 17);
  border-radius: 16px;
}

@media (max-width: 768px) {
  .chatWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    border-radius: 0;
  }
}
