.userInfo_meta {
    height: max-content;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 12px;
    div {
        grid-template-columns: 100px 1fr;
        gap: 15px;
    }
    p {
        line-height: 1.2;
    }
    * {
        margin: 5px;
    }
    .userInfo_meta_btn {
        * {
            margin: 0;
        }
    }
}

@media (max-width: 1084px) {
    .userInfo_meta {
        width: max-content;
        margin: 0 20px;
        grid-template-columns: 1fr;
        div {
            grid-template-columns: 100px 1fr;
            gap: 15px;
            text-align: left;
            button {
                grid-row: 2;
            }
        }
    }
}